@import "../../../../styles/variables";

.today{
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: $light-background;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.today__top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  align-items: flex-end;
  .today__img{
    width: 119px;
    height: 119px;
  }
  .today__temp{
    font-size: 96px;
    font-weight: 500;
    color: $primary_color;
  }
  .today__title{
    font-size: 40px;
    color: $light-color;
  }
}

.today__bottom{
  .today__time,
  .today__place{
    color: $base-color;
    font-size: 25px;
  }
}